.cellClick {
	cursor: pointer;
	text-align: right;
}

.cellClick:hover {
	color: #FFF;
	background-color: #417690;
	text-decoration: underline;
}

.cellDay div {
	width: 37px;
}

.cellEmployee div {
	width: 170px;
}

.cellTotalHrs div {
	width: 60px;
}

.cellWknd-odd{
	background-color: #e7eff2;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #c6d9e2;
	border-bottom: 1px solid #c6d9e2;
}

.cellWknd-even{
	background-color: #cfdfe6;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-top: 1px solid #c6d9e2;
	border-bottom: 1px solid #c6d9e2;
}

.cellWrkDay-odd {
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

.cellWrkDay-even {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
}

.colWkndHdr {
	background-color: #79AEC8;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #63a1bf;
}

.colWrkdHdr {
	background-color: #DDD;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
}

.colDayHdr {
	text-align: center;
	font-size: 14px;
	padding: 5px;
}

.colTotalHoursHdr {
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #DDD;
	border-left: 1px solid #B9B9B9;
	border-right: 1px solid #AAA;
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
	text-transform: uppercase;
}

.colEmployeeHdr {
	padding-left: 10px;
	background-color: #DDD;
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
	text-transform: uppercase;
}

.monthHdrLine {
	border-bottom: none;
	border-top: none;
	background-color: #FFF;
}

.monthHdr {
	padding: 12px 12px 12px 24px;
	color: #999;
	font-size: 18px;
	border-style: dotted dotted none dotted;
	border-width: 5px;
	border-color: #B9B9B9;
	text-align: center;
}

.colDayFooter {
	font-weight: bold;
	text-align: right;
	border-top: 2px solid  #B9B9B9;
}

.colEmplFooter {
	font-weight: bold;
	border-top: 2px solid  #B9B9B9;
}

.weekdayText {
	color:#777;
	font-size: 10px;
}

.pseudo {
	padding: 0px;
	border: none;
	background-color: white;
}
.pseudo div {
	width: 4px;
}

thead th{
	background-color: white;
	border: none;
	text-transform: none;
	color: #333;
}