.cellClick {
	cursor: pointer;
	text-align: right;
}

.cellClick:hover {
	color: #FFF;
	background-color: #417690;
	text-decoration: underline;
}

.cellWknd-odd{
	background-color: #e7eff2
}
.cellWknd-even{
	background-color: cfdfe6;
}

.colWkndHdr {
	background-color: #79AEC8;
}

.colDayHdr {
	text-align: center;
	width: 33px;
}

.colTotalHoursHdr{
	width: 60px;
	text-align: right;
}