/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: #ededee;
  font-family:  Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15;
  color: #2b758e;
  cursor: pointer;
  padding: 10px 15px 10px 20px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-top: 2px solid #cbcbcb;
  border-left: 2px solid #cbcbcb;
  border-right: 2px solid #cbcbcb;
  border-bottom: none;
}

.accordion:first-of-type {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.accordion:last-of-type {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom: 2px solid #cbcbcb;
}

.accordion.active:last-of-type {
	border-bottom: none;
}

/* Remove focus rectangle in Firefox browser */
button::-moz-focus-inner {
  border: 0;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #2b758e;
  color: #ffffff;
}

.accordion.active {
  background-color: #2b758e;
  color: #ffffff;
  /*border-bottom: 2px solid #cbcbcb;*/
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #fbfbfb;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  position: relative;
  top: 0px;
  /*bottom: -100px;*/
  border-left: 2px solid #cbcbcb;
  border-right: 2px solid #cbcbcb;
}

.panel:last-of-type {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.panel-active {
	border-bottom: 0px solid #cbcbcb;  
}

.panel-active:last-of-type {
	border-bottom: 2px solid #cbcbcb;  
}

.accordion::after {
  content: '+';
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #2b758e;
  float: right;
  margin-left: 5px;
}

.accordion:hover::after {
	color: #ffffff;
}

.active::after {
  content: "\2212";
  color: #ffffff;
}

/* Workaround for Firefox bug: does not show some unicode symbols in color */
@-moz-document url-prefix() {
	.accordion::after {
   	content: "+";
   	align-content: center;
   	font-family: Arial, Helvetica, sans-serif;
   	font-size: 20;
   	/*font-weight: normal;*/
   	height: 0;
   	position: relative;
   	top: -2px;
   }

   .active::after {
  		content: "\2212"; /* Unicode character for "minus" sign (-) */
	}
}
