.main-container {
	width: 100%;
	max-width: 1400px;
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

th, td{
	padding: 3px;
	height: 35px;
	vertical-align: middle;
	font-size: 14px;
}

td.actions {
	text-align: center
}

tr:nth-child(even){
	background-color: #fafafa;
}

tr.closed{
	background-color: #ffbcbd;
}

tr.closed:nth-child(even){
	background-color: #ecaeaf;
}

tr{
	background-color: #f0f0f0;
}			

th.tb {
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-spacing: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #ffffff;
}
table {
	border-radius: 4px;
}			


td {
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-spacing: 0px;
	padding: 4px;
}

.tb {
	border-style: solid;
	border-width: 1px;
	border-color: #dedede; 
	border-collapse: collapse;
}

.scont {
	padding-bottom: 18;
	padding-top: 18
}

