django==2.2.8
psycopg2-binary==2.7.6.1
pytz==2018.5
django-countries==5.3.2
django-debug-toolbar==1.10.1
django-select2==6.3.1
django-parler==1.9.2
boto==2.49.0
boto3==1.9.61
django-s3-folder-storage==0.5
django-storages==1.7.1
Pillow==5.4.1
html5lib==1.0.1
pyPdf2==1.26.0
reportlab==3.5.13
webencodings==0.5.1
xhtml2pdf==0.2.3
babel==2.6.0
django-wkhtmltopdf==3.2.0
urllib3==1.24.2
django-db-logger==0.1.7
XlsxWriter==1.2.2