{% extends 'base.html' %}

{% load static %}

{% block linked_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/controls.css' %}">
    <!-- link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash-accordion.css' %}">
	
	 -->
{% endblock %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			{{ _('Project dashboard') }} › {{_('Assign employees')}}
		</div>
{% endblock %}

{% block content %}
    <form action = "" method = "post">
    {% csrf_token %}
    <div>
      	<ul class="ks-cboxtags">
      	{% for field in form.get_employee_fields %}
 	    	<li>{{ field.errors }}{{ field }}<label for="id_{{field.name}}">{{ field.label }}</label></li>
	  	{% endfor %}
	  	</ul>
	  	<button class="btn-create" title = {{ _('Register') }} type="submit">
	  	<!-- i class="fa fa-plus-circle"></i>  -->
		<i class="fa fa-save"></i>
		</button>
	</div>
	</form>
{% endblock %}