{% extends 'base.html' %}

{% load static %}

{% block linked_files %}
    <!-- link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash-accordion.css' %}">
	 -->
{% endblock %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			{{ _('Project dashboard') }} > {{_('Assign employees')}}
		</div>
{% endblock %}

{% block content %}
	{{form}}
{% endblock %}