{% extends 'base.html' %}

{% load static %}

{% block linked_files %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/controls.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/assign-employees.css' %}">
    <!-- link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <!-- link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash-accordion.css' %}">
	 -->
{% endblock %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href={% url 'pdash' location='desktop' pk=project.id %}>{{ _('Project dashboard') }}</a> ›
			{% if location == 'desktop' %}{{_('desktop')|title}}{% else %}{{_('Archive')|title}}{% endif %} ›
			{{customer.name}} › {{project.name}} › {{_('Assign employees')}}
		</div>

{% endblock %}

{% block content %}
	<div id="content" class=colMS>
		<h1>{{ _('Assign employees for project ') }}&nbsp<b>{{project.name}}</b> </h1>
    </div>
    <form action = "" method = "post">
    {% csrf_token %}
    <div class="employee-container">
      	<ul class="ks-cboxtags">
      	{% for field in form.get_employee_fields %}
 	    	<li>{{ field.errors }}{{ field }}<label for="id_{{field.name}}">{{ field.label }}</label></li>
	  	{% endfor %}
	  	</ul>
	  	<div class="employee-save-cancel-container">
	  	    <a class="btn-cancel" title = {{ _('Cancel') }} href="{% url 'pdash' location='desktop' pk=project.id %}">{{ _('Cancel') }}<!-- i class="fa fa-window-close" --> </i></i></a>
	  		&nbsp&nbsp&nbsp
	  		<button class="btn-save" title = {{ _('Assign') }} type="submit">
	  		<!-- i class="fa fa-plus-circle"></i>  -->
			<!-- i class="fa fa-save"></i>  -->
			{{_('Assign')}}
			</button>
		</div>
	</div>

	</form>
	
{% endblock %}
