{% extends 'base.html' %}

{% load static %}

{% block linked_files %}
	<!-- link rel="stylesheet" href="jquery-ui.css">
	<link rel="stylesheet" href="picker.css">
	<script src="external/jquery/jquery.js"></script>
    <script src="jquery-ui.js"></script>
	-->
	<link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/dialogs.css' %}">
	
	<script src="{% static 'js/jquery/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-ui.js' %}"></script>
	<script src="{% static 'js/jquery/datepicker-lt.js' %}"></script>
	<script src="{% static 'js/jquery/datepicker-no.js' %}"></script>

{% endblock %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href={% url 'pdash' pk=project.id %}>{{ _('Project dashboard') }}</a> › {{customer.name}} › {{project.name}} › {{ _('Time review and approval') }}
		</div>
{% endblock %}

{% block content %}
	<div id="content">
		<h1>{{ _('Review and approve time for project ') }}&nbsp<b>{{project.name}}</b></h1>
		<br>
    	<div id="content_main">
    		{% include 'prjdash/print_timelist.html' %}
		<div class="project">
			<!-- h3>{{employee.full_name}}</h3>  -->
			<!--  h3>{{project.name}}</h3>  -->
			<!-- {{project.description}}   -->
			<div class="results" style="overflow-x:auto;">
				<table class="time-register">
					<thead>
						<tr>
							
							<th scope="col">{{ _('Employee') }}</th>
							<th scope="col">{{ _('Item') }}</th>
							<th scope="col">{{ _('Date') }}</th>
							<th scope="col">{{ _('Time') }}</th>
							<th id="num-col" scope="col">{{ _('Hours') }}</th>
							<th id="num-col">{{ _('Distance (km)') }}</th>
							<th id="num-col">{{ _('Toll ring') }}</th>
							<th id="num-col">{{ _('Ferry') }}</th>
							<th id="num-col" scope="col">{{ _('Diet') }}</th>
							<th scope="col">
						</tr>
					</thead>
					{% for journal_line in journal_lines %}
					    {% if mode == 'edit' and pk == journal_line.id %}
							{% include 'prjdash/posted_time_form.html' %}
						{% else %}
						    {% include 'prjdash/posted_time_jrline.html' %}
						{% endif %}
					{% endfor %}
					<tr style="font-weight:bold">
						
						<td></td>
						<td></td>
						<td></td>
						<td style="text-align:right">{{ _('Total') }}:</td>
						<td id="num-col">{{ journal_totals.work_time__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.distance__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.toll_ring__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.ferry__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.diet__sum|default_if_none:"" }}</td>
						<td id="num-col"></td>
					</tr>
				</table>
		</div>
	  </div>
	</div>
  </div>
  {% include 'prjdash/posted_time_dialog.html' %}
{% endblock %}
 