						<tr>
							<td class = "info">
							  <div class="hdrop">
							    {% if journal_line.log.action == 1 %}
  							      <i class="fas fa-user-plus fa-lg"></i>
							    {% elif journal_line.log.action == 2 %}
							      <i class="fas fa-user-edit fa-lg"></i>
							    {% endif %}
                                <div class="hdrop-content" style="width:400px;">
                                  <p><b>{{journal_line.log.title}}</b></p>
                                  <p>{{_('Change history')}}:<p>
                                  {% for logline in journal_line.log.lines %}
                                    <hr>
                                    <p> {{logline}} </p>
                                  {% endfor %}
                                </div>
                              </div>
							</td>
							<td>{{journal_line.employee}}</td>
							<td>{{journal_line.item}}</td>
							<td>{{journal_line.work_date|date:'Y-m-d'}}</td>
							<td>{{journal_line.work_time_from}} - {{journal_line.work_time_to}}</td>
							<td id="num-col" >{{journal_line.work_time}}</td>
							<td id="num-col">{{journal_line.distance|default_if_none:""}}</td>
							<td id="num-col">{{journal_line.toll_ring|default_if_none:""}}</td>
							<td id="num-col">{{journal_line.ferry|default_if_none:""}}</td>
							<td id="num-col">{{journal_line.diet|default_if_none:""}}</td>
							<td id="button-edit-col">
							{% if mode != 'edit' %}
								<div>
									<a class="btn-edit" title = {{ _('Modify') }} href={% url 'pdash-time-review' project_id=project.id pk=journal_line.id mode='edit' %}><i class="fa fa-edit"></i></a>
									&nbsp&nbsp
									<!--  a class="btn-edit" title = {{ _('Delete') }} href={% url 'pdash-time-review' project_id=project.id pk=journal_line.id mode='delete' %}><i class="fas fa-minus"></i></a>  -->
									<button class="btn-edit btn-delete-dialog" style="width:55px;" onClick="showDialog({{journal_line.id}})"; title = {{ _('Delete') }}><i class="fas fa-times"></i></button>
								</div>
                            {% endif %} 								
							</td>
						</tr>
