{% load i18n %}
  	<script>
	  	$( function() {
	  	  	$.datepicker.setDefaults($.datepicker.regional["lt"]);
	  	  	//$( "#datepicker-from" ).datepicker({maxDate: "+1D", onSelect: set_date_from});
	  	  	$( "#datepicker-from" ).datepicker({maxDate: "+1D"});
	  	} );

	  	$( function() {
			$.datepicker.setDefaults($.datepicker.regional["lt"]);	  	  
	    	//$( "#datepicker-to" ).datepicker({maxDate: "+1D", onSelect: set_date_to});
	    	$( "#datepicker-to" ).datepicker({maxDate: "+1D"});
	  	} );
	  	{% language 'nb' %}
	  	function set_print_url(){
	  	  //alert(document.date_to);
	  	  print_button = document.getElementById("print_timelist");
	  	  qm = '';
	  	  if (document.date_from && document.date_to) {
	  	    print_button.href = "{% url 'timelist-pdf' pk=project.id %}?date-from=" + document.date_from + "&date-to=" + document.date_to;
	  	  }
	  	  else if (document.date_from) {
		  	print_button.href = "{% url 'timelist-pdf' pk=project.id %}?date-from=" + document.date_from;
		  }
	  	  else if (document.date_to) {
			print_button.href = "{% url 'timelist-pdf' pk=project.id %}?date-to=" + document.date_to;
		  }
	  	  else {
	  	    print_button.href = "{% url 'timelist-pdf' pk=project.id %}";
	  	    qm = '?';
	  	  };
	  	  if (document.employee_ids != null && document.employee_ids.length > 0) {
	  	    print_button.href = print_button.href + qm + "&employees=" + document.employee_ids;
	  	    qm = '';
	  	  };
	  	  if (document.item_ids != null && document.item_ids.length > 0) {
	  	      print_button.href = print_button.href + qm + "&items=" + document.item_ids;
	  	  };
	  	};
	  	{% endlanguage %}
		/*
	  	function set_date_from(value){
	  	  document.date_from = value;
	  	  set_print_url();
	  	};

	  	function set_date_to(value){
	  	  document.date_to = value;
	  	  set_print_url();
	  	};
	  	*/

	  	function printButtonClick(){
	  	  document.date_from = $("#datepicker-from")[0].value;
	  	  document.date_to = $("#datepicker-to")[0].value;
	  	  document.item_ids = $("#select-tasks").val();
	  	  document.employee_ids = $("#select-employees").val();
	  	  set_print_url();
	  	}

	    //Enable JQuery Chosen plugin for multiple select (for item filter dialog)
	    $(function() {
			$(".chosen-select").chosen({
		 		search_contains: true,
	    		display_selected_options: false,
	    		width: "300px",
	    	});
	    });

	  	// Updates select component by dynamically selecting options by values which are in the array "values" (used on initializing filter)
	  	var selectItemsByValues = function(elmnt, values) {
	  	  var selected_texts = [];
	  	  for(var i=0; i < elmnt.options.length; i++)
	  	  {
	  	    if($.inArray(elmnt.options[i].value, values) >= 0) {
	  	      elmnt.options[i].selected = true;
	  	      selected_texts[i] = elmnt.options[i].text;
	  	    }
	  	    else {
	  	      elmnt.options[i].selected = false;
	  	    }
	  	  }
	  	  $(elmnt).trigger('chosen:updated'); // Refresh select component (when items are removed dynamically component does not refresh automatically)
	  	  return selected_texts;
	  	};

	  	// Refreshes JQuery multiple selects when browser's back button is hit
	  	$(window).load(function () {
			selectItemsByValues($("#select-tasks")[0], $("#select-tasks").val())
			selectItemsByValues($("#select-employees")[0], $("#select-employees").val())
	  	})
  	</script>
	<div style="border: 2px solid #CCC; border-radius: 7px; width: {% if fvisible.item or fvisible.item_and_description %}1465px{% else %}1060px{% endif %};">
		<br>
		&nbsp&nbsp
		{{ _('Date from') }} <input type="text" id="datepicker-from"> {{ _('to') }}  <input type="text" id="datepicker-to">
		&nbsp&nbsp&nbsp&nbsp
		{{_('employee filter')|capfirst}}:
		<select data-placeholder="{{_('Select employees...')}}" id="select-employees" class="chosen-select" multiple tabindex="4">
			<option value=""></option>
			<optgroup>
			{% for employee in employees %}
	        	<option value="{{employee.1}}">{{employee.0}}</option>
			{% endfor %}
			</optgroup>
		</select>
		{% if fvisible.item or fvisible.item_and_description %}
		&nbsp&nbsp&nbsp&nbsp
		{{_('Task filter')}}:
		<select data-placeholder="{{_('Select tasks...')}}" id="select-tasks" class="chosen-select" multiple tabindex="5">
			<option value=""></option>
			<optgroup>
			{% for item in items %}
			  {% ifchanged item.0 %}
				  </optgroup>
				  <optgroup label="{{item.0}}">
		      {% endifchanged %}
			       <option value="{{item.2}}">{{item.1}}</option>
			{% endfor %}
			</optgroup>
		</select>
		{% endif %}
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

		<a class="btn-cancel" 
		   id="print_timelist" 
		   style = "text-decoration: none"
		   title = "{{ _('Print timelist') }}"
		   onclick="printButtonClick()">
		   		&nbsp&nbsp&nbsp<i class="fa fa-print"></i> &nbsp {{ _('Print') }}</i>&nbsp&nbsp&nbsp
		</a>
		<br><br>
	</div>
	<br><br>
