				<form action = "" method = "post">
					{% csrf_token %}
					<tr class="tb{% if edit == True and not project.active %} closed {% endif %}" {% if focus.project_id and edit  %} id="proj_{{focus.project_id}}"{% endif %}>
						<td class="actions-left">
							{{form.customer_id.errors}}
							<input type="hidden" class="cust_id_anchor" id="cust_{{customer.id}}" name="customer_id" value="{{customer.id}}">
							{{form.customer_id}}
							{{form.customer.as_hidden}} <!-- Review this !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
							
							{% if edit == True %}
								<i class="far fa-edit"></i>
							{% else %}
								<i class="fas fa-plus"></i>
							{% endif %}
						</td>
						<td>
							{{form.name.errors}}
							{{form.name}}
						</td>
						<td>
							{{form.comment.errors}}
							{{form.comment}}
						</td>
						<td>
							{{project.datetime_created}}</td>
						<td class="actions-right">
							<button class="btn-open" title="{{ _('Save') }}" type="submit">{{ _('Save') }}</button>
							{% if edit == True %}
								<a href="{% url 'pdash' pk=project.id %}" class="btn-close">{{ _('Cancel') }}</a>
							{% endif %}
						</td>
					</tr>
				</form>
				