{% extends 'base.html' %}

{% load static %}

{% block linked_files %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/prjdash/project-dash-accordion.css' %}">
{% endblock %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			{{ _('Project dashboard') }}
		</div>
{% endblock %}

{% block content %}

<div class="main-container">
	<div id="debug"></div>
	{% for customer in customers %}
	  {% if customer.id == focus.customer_id %}
		<button class="accordion active" id="accordion_active" value="{{customer.id}}">{{customer.name}}</button>
		<div class="panel panel-active" id="panel_active">
	  {% else %}	
		<button class="accordion" value="{{customer.id}}">{{customer.name}}</button>
		<div class="panel">
	  {% endif %}
		<!-- div class="panel"> -->
			<div class="scont">
				<table class = "tb">
					<thead class="tb">
						<th class="tb"></th>
						<th class="tb">Project</th>
						<th class="tb">Comment</th>
						<th style="width:80px" class="tb">Date created</th>
						<th class="tb">Actions</th>
					</thead>
	   			    {% if edit == False %}
						{% include 'prjdash/project_form.html' %}
					{% endif %}
					
					{% for project in customer.projects %}
						{% if edit == True and focus.project_id == project.id %}
							{% include 'prjdash/project_form.html' %}
						{% else %}
							{% include 'prjdash/project_line.html' %}
						{% endif %}
					{% endfor %}
					<tfoot>
					</tfoot>
				</table>
			</div>
		</div>
	{% endfor %}
   	<script>
   		var i;

   	    panel_active = document.getElementById("panel_active") 
		if (panel_active) {
		  panel_active.style.maxHeight = panel_active.scrollHeight + "px";
		}
		
   	 //Setting customer_id value to the hidden form fields
		cust_id_anchors = document.getElementsByClassName("cust_id_anchor");
		for (i = 0; i < cust_id_anchors.length; i++) {
		  anchor = cust_id_anchors[i];
		  anchor.nextElementSibling.value = anchor.value;
		}

		var acc = document.getElementsByClassName("accordion");
		for (i = 0; i < acc.length; i++) {
		  acc[i].addEventListener("click", function() {
		    
		    document.getElementById("debug").innerHTML = "click " + this.value;
			
		    this.classList.toggle("active");
		    var panel = this.nextElementSibling;
		    panel.classList.toggle("panel-active")
		    if (panel.style.maxHeight){
		      panel.style.maxHeight = null;
		    } else {
		      panel.style.maxHeight = panel.scrollHeight + "px";
		    }
		    
		    //Setting customer_id value to the hidden form element 
		    //anchor = document.getElementById("cust_" + this.value)
		    //anchor.nextElementSibling.value = this.value
		    
		    document.getElementById("debug").innerHTML = this.value;
		    
		    // Closing all other open sections
			var btns = document.getElementsByClassName("accordion")
			for (k = 0; k < btns.length; k++) {
			  var btn = btns[k]			 
			 	if (btn != this) {
			 		btn.classList.remove("active")
			 		var xpanel = btn.nextElementSibling;
			 		xpanel.style.maxHeight = null;
			 		xpanel.classList.remove("panel-active")
			 	}
			 };
		  });
		}		
	</script>		
</div>
{% endblock %}