/* OnClick menu */

/* The container <div> - needed to position the dropdown content */
#dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

#dropdown .dropbtn{
  display: none;
}

#dropdown .dropbtn:not(:checked)~.dropdown-content{
  display: none;
}

#dropdown .dropbtn:checked~.dropdown-content{
  display: block;
}

#dropdown label {
  color: #FFF;
  cursor: pointer;
}

#dropdown label:hover{
  color: #417690;
  background-color: #EEE;
}

/* Dropdown Content (Hidden by Default) */
#dropdown .dropdown-content {
  display: none;
  position: absolute;
  /*background-color: #f1f1f1;*/
  background-color: #79AEC8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  right: 0;
  /*border-radius: 5px;*/
}

/* Links inside the dropdown */
#dropdown .dropdown-content a {
  padding: 10px 10px;
  height: 8px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  background-color: #79AEC8;
}

#dropdown .dropdown-content a:visited{
  color: FFF;	
}

/* Change color of dropdown links on hover */
#dropdown .dropdown-content a:hover {
  background-color: #eee;
  color: #79AEC8;
  /*border-radius: 5px;*/
}
