{% extends "admin/base_site.html" %}

{% block title %}
	{% if company %} {{ company.name }} | {{ title }}
	{% elif user.id %} {{ user.company.name }} | {{ title }}
	{% else %} {{ title }}
	{% endif %}
{% endblock %}


{% block branding %}
<h1 id="site-name">
<a href="{% url 'admin:index' %}">
  {% if user.company.name %}
    {{user.company.name}}<!--  {% filter lower %} {{_('Administration')}} {% endfilter %}  -->
  {% else %} 
    {{_('Administration')}}
  {% endif %}  
</a>
</h1>
{% endblock %}
{{ site_header|default:_('Company administration') }}

{% block nav-global %}{% endblock %}