{% extends 'base.html' %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			{{ _('Project list') }}
		</div>
{% endblock %}

{% block content %}
	<div class="project-list module">
		<table>
			<caption>{{ _('Project list') }}</caption>
			<tbody>
			{% for project in projects %}
				<tr class="model">
					<th scope="row">
					    {% now 'Y-m-d' as current_date %}
						<a href={% url 'tjournal' project_id=project.id date=current_date %}>{{ project.customer }} - {{ project.name }}</a>
						<!-- {{project.description}}  -->
					</th>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
 