{% extends 'base.html' %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href={% url 'index' %}>{{ _('Project list') }}</a> › {{project.name}}
		</div>
{% endblock %}

{% block content %}
		<div class="project">
			<!-- h3>{{employee.full_name}}</h3>  -->
			<!--  h3>{{project.name}}</h3>  -->
			<p>{{project.description}}</p>
			<div class="results" style="overflow-x:auto;">
				<table class="time-register">
					<thead>
						<tr>
							<th scope="col">{{ _('Project') }}</th>
							<th scope="col">{{ _('Item') }}</th>
							<th scope="col">{{ _('Date') }}</th>
							<th scope="col">{{ _('Time') }}</th>
							<th id="num-col" scope="col">{{ _('Hours') }}</th>
							<th id="num-col">{{ _('Distance (km)') }}</th>
							<th id="num-col">{{ _('Toll ring') }}</th>
							<th id="num-col">{{ _('Ferry') }}</th>
							<th id="num-col" scope="col">{{ _('Diet') }}</th>
							<th scope="col">
						</tr>
					</thead>
					{% for jr_line in jr_lines %}
						{% if modify_id == jr_line.id %}
							{% include 'salary/jobreg_form.html' %}
						{% else %}
						    {% include 'salary/jobreg_jrline.html' %}
						{% endif %}
					{% endfor %}
					{% if modify_id == 0 %}
						{% include 'salary/jobreg_form.html' %}
					{% endif %}
					<tr style="font-weight:bold">
						<td>{{ _('Total') }}:</td>
						<td></td>
						<td></td>
						<td></td>
						<td id="num-col">{{ jr_totals.work_time__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ jr_totals.distance__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ jr_totals.toll_ring__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ jr_totals.ferry__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ jr_totals.diet__sum|default_if_none:"" }}</td>
						<td id="num-col"></td>
					</tr>
				</table>
		</div>
{% endblock %}
 