						<tr>
							<td>{{jr_line.content_object.name}}</td>
							<td><div style="max-width: 350px;">
							{% if fvisible.item %}
								{{jr_line.item}}
							{% elif fvisible.description %}
								{{jr_line.description}}
							{% elif fvisible.item_and_description %}
								{{jr_line.item}}
								{% if jr_line.description %}
									<br><span class = "treg_ln_descr"> {{jr_line.description}} </span>
								{% endif %}
							{% endif %}
							</div></td>
							<!-- td>{{jr_line.work_date}}</td>  -->
							<td>{{jr_line.work_time_from}} - {{jr_line.work_time_to}}</td>
							<td id="num-col" >{%if jr_line.is_overtime%} {%else%} {{jr_line.work_time}}{%endif%}</td>
							<td id="num-col">{{jr_line.overtime_50|default_if_none:""}}</td>
							<td id="num-col">{{jr_line.distance|default_if_none:""}}</td>
							<td id="num-col">{{jr_line.toll_ring|default_if_none:""}}</td>
							<td id="num-col">{{jr_line.ferry|default_if_none:""}}</td>
							<td id="num-col">{{jr_line.parking|default_if_none:""}}</td>
							<td id="num-col">{{jr_line.diet|default_if_none:""}}</td>
							<td>
							  {% if action != 'edit' and open %}
								<div style="min-width:125px;">
									<a class="btn-edit" title = {{ _('Modify') }} href={% url 'tjr-v2' date=date jrline_id=jr_line.id %}><i class="fa fa-edit"></i></a>
									&nbsp&nbsp
									<button class="btn-edit btn-delete-dialog" style="width:55px;" onClick="showDialog({{jr_line.id}})"; title = {{ _('Delete') }}><i class="fas fa-times"></i></button>
								</div>
							  {% endif %}
                            </td>
						</tr>
