{% load static %}
<html>
<head>
	<style>
		img {
		  border-radius: 20px;
		}
		.centered {
  		  position: fixed;
  		  top: 40%;
  		  left: 50%;
          transform: translate(-50%, -50%);
		}
		.fmt {
		  text-align: center;
		  color: #335c5e;
		  xyz-color: #417690;
		  font-family: "Verdana";
		}
	</style>
</head>
<body>
<div class = "centered fmt">
	<img src="{% static 'pics/system/maintenance/mnt_3.jpg' %}" width="700">
	<h1>Vyksta sistemos atnaujinimas</h1></body>
	<h3>Darbai turėtų užtrukti apie 1 val.</h3>
</div>
</html>