{% load static %}
<html>
	<head>
		<title>Time registration</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<div class="page-header">
		<h1>{{ _('Work time registration') }}</h1>
		{% if user.is_staff or user.is_superuser %}
			<a href="{% url 'admin:index' %}" class='top-menu'>{{ _('Administration') }} <span class="adminicon adminicon-plus"></a>
		{% endif %}
		
	</div>
	<div class="content container">
		{% block content %}
		{% endblock %}
	</div>
</html>