{% extends 'base.html' %}

{% load static %}

{% block linked_files %}
	<link rel="shortcut icon" href="#" /> <!-- Remove this line later on, it fixes favicon.ico error -->

	<link rel="stylesheet" href="{% static 'css/jquery/jquery-ui.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery/select2/select2.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery/chosen/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'css/dialogs.css' %}">
	<link rel="stylesheet" href="{% static 'css/prjdash/posted-time.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/controls.css' %}">
	<link rel="stylesheet" href="{% static 'css/timereg.css' %}">
	{{ form.media.css }}

	<script src="{% static 'js/jquery/jquery.js' %}"></script>
	<script src="{% static 'js/jquery/select2/select2.js' %}"></script>
    <script src="{% static 'js/jquery/chosen/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-ui.js' %}"></script>
	<script src="{% static 'js/jquery/datepicker/datepicker-lt.js' %}"></script>
	<script src="{% static 'js/jquery/datepicker/datepicker-no.js' %}"></script>
    <script src="{% static 'js/dayon/prjdash/posted_time.js' %}"></script>
	{{ form.media.js }}

    <script>
        // Loading filter values comming from the server into the state variable
        initState();
        function loadParams(){
            // Setting the URLBase variable
            document.state.params.urlBase = "{% url 'pdash-time-review' location='desktop' project_id=project.id %}";
            // Setting filter values comming from server
            dpf = document.state.params.filters;
            dpf.dateFrom = '{{ applied_filters.date_from }}';
            dpf.dateTo = '{{ applied_filters.date_to }}';
            dpf.employees = '{{ applied_filters.employees }}';
            dpf.items = '{{ applied_filters.items }}';
        };
        loadParams();
    </script>
{% endblock %}

{% block breadcrumbs %}
		<div class="breadcrumbs">
			<a href={% url 'pdash' location=location pk=project.id %}>{{ _('Project dashboard') }}</a> ›
			{% if location == 'desktop' %}{{_('desktop')|title}}{% else %}{{_('Archive')|title}}{% endif %} › 
			{{customer.name}} › {{project.name}} › {{ _('Time review and approval') }}
		</div>
		<div class="tool-container">
		  <div class="toolbar">
		  	<!--div class="tool-dvd"></div-->
			<!--div class='tool-tab' title="*new line*" onClick="toggleDlg(this, 'tdlg-add')"-->
            <div class='tool-tab' id='tbAddLine' title="{{ _('new line')|capfirst }}">
				<span class="fas fa-plus fa-3x" style="margin-top: 0.22em"></span>
			</div>
			<!--div class='tool-tab' title="*filter*" onClick="toggleDlg(this, 'tdlg-filters')"-->
            <div class='tool-tab' id='tbFilters' title="{{ _('filter')|capfirst }}">
				<span id="filter_on" class="fas fa-check fa-3x" style="margin-top: 0.22em; display: none;"></span>
                <span class="fas fa-filter fa-3x" style="margin-top: 0.22em"></span>
			</div>
			<!--div class='tool-tab' title="*move to another project*" onClick="toggleDlg(this, 'tdlg-moveln')"-->
            <div class='tool-tab' id='tbMoveLn' title="{{ _('move to another project')|capfirst }}">
				<span class="fas fa-building fa-3x" style="margin-top: 0.22em"></span>
				<span class="fas fa-arrow-right fa-3x" style="margin-top: 0.22em"></span>
			</div>
			<div class='tool-tab' id='tbPrint' title="{{ _('print')|capfirst }}">
				<span class="fas fa-print fa-3x" style="margin-top: 0.22em"></span>
			</div>
		  </div>
		  <div class="tool-dialog hidden" id="tdlg-add">
		  	{% include 'prjdash/posted_time/posted_time_tool_add_form.html' %}
		  </div>
		  <div class="tool-dialog hidden" id="tdlg-filters">
		  	{% include 'prjdash/posted_time/posted_time_tool_filter.html' %}
		  </div>
		  <div class="tool-dialog hidden" id="tdlg-moveln">
		  	{% include 'prjdash/posted_time/posted_time_tool_moveln.html' %}
		  </div>
		  <div class="tool-dialog hidden" id="tdlg-print">
            {#% include 'prjdash/posted_time/posted_time_tool_moveln.html' %#}
		  </div>

		  <!--Filtrai: drag and drop iš sąrašo; select from box; button: pritaikyti. Aukštis 0, išsiplečia paspaudus filtrai toolbar.-->
		</div>
{% endblock %}

{% block content %}
	<div id="content">
		<h1>{{ _('Review and approve time for project ') }}&nbsp<b>{{project.name}}</b></h1>
		<br>
    	<div id="content_main">
    		{#% include 'prjdash/print_timelist.html' %#}
		<div class="project">
			<!-- h3>{{employee.full_name}}</h3>  -->
			<!--  h3>{{project.name}}</h3>  -->
			<!-- {{project.description}}   -->
			<div class="results" style="overflow-x:auto;">
				<table class="time-register">
					<thead>
						<tr>
							<th>
								<input type="checkbox" id="cx_all" title="* select/deselect all (change to dynamic js) *">
							</th>
							<th/>
							<th scope="col">{{ _('Employee') }}</th>
							<th scope="col">{{ _('Item') }}</th>
							<th scope="col">{{ _('Date') }} / {{ _('Time') }}</th>
							<th id="num-col" scope="col">{{ _('Hours') }}</th>
							
							<!-- Make this on if. Send meta if each field has data/is visible. if not, hide it.
							<th id="num-col">{{ _('Distance (km)') }}</th>
							<th id="num-col">{{ _('Toll ring') }}</th>
							<th id="num-col">{{ _('Ferry') }}</th>
							<th id="num-col" scope="col">{{ _('Parking') }}</th>
							<th id="num-col" scope="col">{{ _('Diet') }}</th-->
						</tr>
					</thead>
					{% for journal_line in journal_lines %}
					    {% if mode == 'edit' and pk == journal_line.id %}
							{% include 'prjdash/posted_time/posted_time_form.html' %}
						{% else %}
						    {% include 'prjdash/posted_time/posted_time_jrline.html' %}
						{% endif %}
					{% endfor %}
					<tr style="font-weight:bold">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td style="text-align:right">{{ _('Total') }}:</td>
						<td id="num-col">{{ journal_totals.work_time__sum|default_if_none:"" }}</td>

						<!--td id="num-col">{{ journal_totals.distance__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.toll_ring__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.ferry__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.parking__sum|default_if_none:"" }}</td>
						<td id="num-col">{{ journal_totals.diet__sum|default_if_none:"" }}</td-->
					</tr>
					<!-- Workaround to display edit history popups correctly -->
					<tr style="background-color: #FFF">
						<td style="height:120px;">&nbsp</td>
					</tr>
				</table>
		</div>
	  </div>
	</div>
  </div>
  <script src="{% static 'js/timeon-main.js' %}"></script>
{% endblock %}
 