<script>
    /*----------------------------------------------------
    ---------------- INITIALIZING SELECT2 ----------------
    ----------------------------------------------------*/

    $(document).ready(function() {
        /*$('.django-select2').select2({
	    	width: "300px",
        });*/
        $('.js-s2').select2({
            closeOnSelect: false,
	    	width: "300px",
        });
    });

    /* ---------------------------------------------------
    --------------  TOOLBAR  -----------------------------
    ------------------------------------------------------*/
    var toolbar = {};
    function toggleDlg(toolBtn, elmnt_id){
        //var toolBtn = event.target || event.srcElement;
        var toolPanel = document.getElementById(elmnt_id);
        if (typeof toolBtn.active == 'undefined') {
            toolBtn.active = false;
        }
        toolBtn.active = !toolBtn.active;
        if (toolBtn.active) {
            toolPanel.classList.remove("hidden");
            toolBtn.classList.add("active");
        }
        else {
            toolPanel.classList.add("hidden");
            toolBtn.classList.remove("active");
        };
        deactivateRest(elmnt_id, toolBtn, toolPanel);
    };

    function deactivateRest(tId, tBtn, tPanel){
        toolbar[tId] = [tBtn, tPanel];
        for (let [tlId, tlObj] of Object.entries(toolbar)) {
            if (tlId != tId) {
                tlObj[0].classList.remove("active");
                tlObj[0].active = false;
                tlObj[1].classList.add("hidden");
            }
        }
        //deactivates other elements. Run through collections and deactivate all except which is sent here.
        //toolbar.buttons.push(tBtn); // run through array and check with === if element exists. add only of not exists.
        //toolbar.panels.push(tPanel);
    }

    // setting attributes for textarea (description input)
    const txarea = document.getElementsByTagName('textarea');
    for (let i = 0; i < txarea.length; i++) {
        txarea[i].setAttribute('style', 'overflow-y:hidden;resize:none; width: 100%');
        txarea[i].setAttribute('rows', '3');
    }

    //setting attributes for select
    /* select 2 scripts are probably executed after this one and puts fixed width on a select element.
    const slct2 = document.getElementsByClassName('select2');
    for (let k = 0; k < slct2; k++) {
        slct2[i].setAttribute('style', 'width: 100%;');
    }
    */

    /*----------------------------------------------------
    --------------  TOOL WINDOW - FILTERS  ---------------
    ----------------------------------------------------*/
    
    /*$(".chosen-select").chosen({width: "95%"});
    $(".chosen-select").chosen().change(function() {
        /*$(this).parentElement.style.height = $(this).style.height;
        alert($(this).parentElement);
        //$(this).style.position = "relative";
        //$('#' + $(this).val()).show();
    });
    */

    $( function() {
        $.datepicker.setDefaults($.datepicker.regional["lt"]);
        //$( "#datepicker-from" ).datepicker({maxDate: "+1D", onSelect: set_date_from});
        $( "#datepicker-from" ).datepicker({maxDate: "+1D"});
    } );

    $( function() {
        $.datepicker.setDefaults($.datepicker.regional["lt"]);	  	  
        //$( "#datepicker-to" ).datepicker({maxDate: "+1D", onSelect: set_date_to});
        $( "#datepicker-to" ).datepicker({maxDate: "+1D"});
    } );



</script>