<div class="tool-filter"> 
	<div class="tool-col">
		<div class="tool-field">
			<div class="label">* data nuo*</div>
			<div class="drop-input" id="date_input">
				{{ form.work_date.errors }}
				{{ form.work_date }}
			</div>
		</div>
		<div class="tool-field">
			<div class="label">* data iki*</div>
			<div class="drop-input" id="date_input">
				{{ form.work_date.errors }}
				{{ form.work_date }}
			</div>
		</div>
	</div>
	<div class="tool-col">
		<div class="tool-field">
			<div class="label">* darbuotojas *</div>
			<div class="input" id="employee_input">
				{{ form.company.errors }}
				{{ form.company }}
				{{ form.employee.errors }}
				{{ form.employee }}
			</div>
		</div>

		<div class="tool-field">
			<div class="label"> * darbas * </div>
			<div class="input" id="item_input">
				{{ form.item.errors }}
				{{ form.item }}
			</div>
		</div>
	</div>
	<div class="tool-btn">
		<button class="btool-save" title = {{ _('Apply') }} type="submit">{{ _('Apply') }}</button>
		<!--button class="btn-create" title = {{ _('Register') }} type="submit">
			<i class="fa fa-save"></i>
		</button-->
	</div>

</div>
